@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-columns: [co1-start] 10fr [co2] 70fr [co3] 10fr;
  grid-template-rows: [row1-start] 30fr [row2] auto [row3] auto [row4] auto [row5] auto [row6] auto [row7] auto;

  grid-template-areas: 
      ". header ."
      ". nav ."
      ". search ."
      ". content .";
}

.App > h1 {
  grid-area: header;
  font-size: x-large;
  background-color: rgb(187, 71, 225);

}

.navbar {
  grid-area: nav;
  background-color: blanchedalmond;
}

.search-bar {
  grid-area: search;
}

.primary-content {
  grid-area: content;
  background-color: rgb(238 242 255, 1); 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

